<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-title">Categorias</li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="nav-icon cui-speedometer"></i> Eventos
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="nav-icon cui-speedometer"></i> Teatro
                    <span class="badge badge-primary">NEW</span>
                </a>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon cui-puzzle"></i> Conciertos
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="nav-icon cui-puzzle"></i> Rock
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="nav-icon cui-puzzle"></i> reggaeton
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>