<div class="row">
    <div class="col-3">
        <br/><br/><br/><br/><br/>
        <div class="col-12">
            <div class="list-group list-group-accent">
                <div class="list-group-item list-group-item-accent-primary list-group-item-primary">
                    <br/>
                    <h3 class="text-primary"><strong>Ubicacion</strong></h3>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                        <label class="custom-control-label" for="customRadio1">Nacionales</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                        <label class="custom-control-label" for="customRadio2">Internacionales</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
                        <label class="custom-control-label" for="customRadio3">Otros</label>
                    </div>
                    <br/>
                </div>

                <div class="list-group-item list-group-item-accent-success list-group-item-success">
                    <br/>
                    <h3 class="text-primary"><strong>Categorias</strong></h3>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck4">
                        <label class="custom-control-label" for="customCheck4">Conferencias</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck5">
                        <label class="custom-control-label" for="customCheck5">Conciertos</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck6">
                        <label class="custom-control-label" for="customCheck6">Deportes</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck7">
                        <label class="custom-control-label" for="customCheck7">Entretenimiento</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck8">
                        <label class="custom-control-label" for="customCheck8">Teatro</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck9">
                        <label class="custom-control-label" for="customCheck9">Otros</label>
                    </div>
                    <br/>
                </div>
            </div>
        </div>
    </div>
    <div class="col-9">
        <div class="row m-lg-3">
            <div class="col-1 d-flex justify-content-end">
                <i class="fa fa-ticket fa-3x nav-item" aria-hidden="true" href="#"></i>
            </div>
            <div class="col-3">
                <h1><strong>Resultados :</strong></h1>
            </div>
            <div class="col-3">
                <h1><em>Hamlet</em></h1>
            </div>
        </div>
        <div class="row p-4">
            <div class="col-3 d-flex justify-content-end">
                <img src="../../../../assets/img/hamletDescripcion.jpg" alt="Card image cap" class="img-thumbnail">
            </div>
            <div class="col-6">
                <p>"Un grupo de actores con síndrome de Down intenta redefinir Hamlet a partir de sus propias vidas. La obra se está construyendo sobre la base de sus aportes y experiencias. El proyecto nace inspirado en Jaime Cruz, quien trabajó durante
                    tres años en el Teatro La Plaza vendiendo programas y acomodando a la gente mientras esperaba la oportunidad de ser convocado como actor. La propuesta busca romper mitos construidos alrededor del síndrome y replantear la gran pregunta
                    que Hamlet formula frente a la existencia. ¿Ser o no ser? ¿Qué implica ser para personas que no encuentran espacios donde se los tome en cuenta?<br/>Organizador: <a class="text-danger" style="cursor:pointer;">Teatro La Plaza</a></p>
            </div>
            <div class="col-3">
                <div class="row">
                    <div class="col-3">
                        <i class="fa fa-minus-square text-danger fa-2x nav-item" aria-hidden="true" style="cursor:pointer;"></i>
                    </div>
                </div>
                <div class="row">
                    <a class="text-primary" style="cursor:pointer;" [routerLink]="['/evento']" routerLinkActive="router-link-active"><u><br/>Ver mas</u></a>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-sm-12 ">
                <div id="inam" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12 col-lg-4">
                                        <div class="card" style="width: 300px;margin: auto;">
                                            <img src="../../../../assets/img/bon_jobi.jpg" class="card-img-top">
                                            <div class="card-body bg-dark">
                                                <div class="row  ">
                                                    <div class="col-sm-10">
                                                        <p>Hamlet</p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-5 d-flex justify-content-md-center">
                                                        <a><samp><i class="fa fa-heart-o fa-2x text-danger" aria-hidden="true"></i></samp> ##</a>
                                                    </div>
                                                    <div class="col-sm-5 d-flex justify-content-md-end">
                                                        <a><samp><i class="fa fa-handshake-o fa-2x text-primary" aria-hidden="true"></i></samp> ##</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-lg-4">
                                        <div class="card" style="width: 300px;">
                                            <img src="../../../../assets/img/the_weekend.jpg" class="card-img-top">
                                            <div class="card-body bg-dark">
                                                <div class="row  ">
                                                    <div class="col-sm-10">
                                                        <p>Hamlet</p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-5 d-flex justify-content-md-center">
                                                        <a><samp><i class="fa fa-heart-o fa-2x text-danger" aria-hidden="true"></i></samp> ##</a>
                                                    </div>
                                                    <div class="col-sm-5 d-flex justify-content-md-end">
                                                        <a><samp><i class="fa fa-handshake-o fa-2x text-primary" aria-hidden="true"></i></samp> ##</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-lg-4">
                                        <div class="card" style="width: 300px;">
                                            <img src="../../../../assets/img/coldplay.jpg" class="card-img-top">
                                            <div class="card-body bg-dark">
                                                <div class="row  ">
                                                    <div class="col-sm-10">
                                                        <p>Hamlet</p>
                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-5 d-flex justify-content-md-center">
                                                        <a><samp><i class="fa fa-heart-o fa-2x text-danger" aria-hidden="true"></i></samp> ##</a>
                                                    </div>
                                                    <div class="col-sm-5 d-flex justify-content-md-end">
                                                        <a><samp><i class="fa fa-handshake-o fa-2x text-primary" aria-hidden="true"></i></samp> ##</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12 col-lg-4">
                                        <div class="card" style="width: 300px;margin: auto;">
                                            <img src="../../../../assets/img/hamlet.png" class="card-img-top">
                                            <div class="card-body bg-dark">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <p>Hamlet</p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-5  d-flex justify-content-md-center">
                                                        <a><samp><i class="fa fa-heart-o fa-2x text-danger" aria-hidden="true"></i></samp> ##</a>
                                                    </div>
                                                    <div class="col-sm-5 d-flex justify-content-md-start">
                                                        <a><samp><i class="fa fa-handshake-o fa-2x text-primary" aria-hidden="true"></i></samp> ##</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-sm-12 col-lg-4">
                                        <div class="card" style="width: 300px;">
                                            <img src="../../../../assets/img/hamlet.png" class="card-img-top">
                                            <div class="card-body bg-dark ">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <p>Hamlet</p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-5  d-flex justify-content-md-center">
                                                        <a><samp><i class="fa fa-heart-o fa-2x text-danger" aria-hidden="true"></i></samp> ##</a>
                                                    </div>
                                                    <div class="col-sm-5 d-flex justify-content-md-start">
                                                        <a><samp><i class="fa fa-handshake-o fa-2x text-primary" aria-hidden="true"></i></samp> ##</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-sm-12 col-lg-4">
                                        <div class="card" style="width: 300px;">
                                            <img src="../../../../assets/img/hamlet.png" class="card-img-top">
                                            <div class="card-body bg-dark">
                                                <div class="row  ">
                                                    <div class="col-sm-10">
                                                        <p>Hamlet</p>
                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-5 d-flex justify-content-md-center">
                                                        <a><samp><i class="fa fa-heart-o fa-2x text-danger" aria-hidden="true"></i></samp> ##</a>
                                                    </div>
                                                    <div class="col-sm-5 d-flex justify-content-md-end">
                                                        <a><samp><i class="fa fa-handshake-o fa-2x text-primary" aria-hidden="true"></i></samp> ##</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="#inam" class="carousel-control-prev" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a href="#inam" class="carousel-control-next" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row p-4">
            <div class="col-3 d-flex justify-content-end">
                <img src="../../../../assets/img/hamletDescripcion.jpg" alt="Card image cap" class="img-thumbnail">
            </div>
            <div class="col-6">
                <p>"Un grupo de actores con síndrome de Down intenta redefinir Hamlet a partir de sus propias vidas. La obra se está construyendo sobre la base de sus aportes y experiencias. El proyecto nace inspirado en Jaime Cruz, quien trabajó durante
                    tres años en el Teatro La Plaza vendiendo programas y acomodando a la gente mientras esperaba la oportunidad de ser convocado como actor. La propuesta busca romper mitos construidos alrededor del síndrome y replantear la gran pregunta
                    que Hamlet formula frente a la existencia. ¿Ser o no ser? ¿Qué implica ser para personas que no encuentran espacios donde se los tome en cuenta?<br/>Organizador: <a class="text-danger" style="cursor:pointer;">Teatro La Plaza</a></p>
            </div>
            <div class="col-3">
                <div class="row">
                    <div class="col-3">
                        <i class="fa fa-minus-square text-danger fa-2x nav-item" aria-hidden="true" style="cursor:pointer;"></i>
                    </div>
                </div>
                <div class="row">
                    <a class="text-primary" style="cursor:pointer;" [routerLink]="['/evento']" routerLinkActive="router-link-active"><u><br/>Ver mas</u></a>
                </div>
            </div>
            <div class="row p-4">
                <div class="col-3 d-flex justify-content-end">
                    <img src="../../../../assets/img/hamletDescripcion.jpg" alt="Card image cap" class="img-thumbnail">
                </div>
                <div class="col-6">
                    <p>"Un grupo de actores con síndrome de Down intenta redefinir Hamlet a partir de sus propias vidas. La obra se está construyendo sobre la base de sus aportes y experiencias. El proyecto nace inspirado en Jaime Cruz, quien trabajó durante
                        tres años en el Teatro La Plaza vendiendo programas y acomodando a la gente mientras esperaba la oportunidad de ser convocado como actor. La propuesta busca romper mitos construidos alrededor del síndrome y replantear la gran pregunta
                        que Hamlet formula frente a la existencia. ¿Ser o no ser? ¿Qué implica ser para personas que no encuentran espacios donde se los tome en cuenta?<br/>Organizador: <a class="text-danger" style="cursor:pointer;">Teatro La Plaza</a></p>
                </div>
                <div class="col-3">
                    <div class="row">
                        <div class="col-3">
                            <i class="fa fa-minus-square text-danger fa-2x nav-item" aria-hidden="true" style="cursor:pointer;"></i>
                        </div>
                    </div>
                    <div class="row">
                        <a class="text-primary" style="cursor:pointer;" [routerLink]="['/evento']" routerLinkActive="router-link-active"><u><br/>Ver mas</u></a>
                    </div>
                </div>
            </div>
            <div class="row p-4">
                <div class="col-3 d-flex justify-content-end">
                    <img src="../../../../assets/img/hamletDescripcion.jpg" alt="Card image cap" class="img-thumbnail">
                </div>
                <div class="col-6">
                    <p>"Un grupo de actores con síndrome de Down intenta redefinir Hamlet a partir de sus propias vidas. La obra se está construyendo sobre la base de sus aportes y experiencias. El proyecto nace inspirado en Jaime Cruz, quien trabajó durante
                        tres años en el Teatro La Plaza vendiendo programas y acomodando a la gente mientras esperaba la oportunidad de ser convocado como actor. La propuesta busca romper mitos construidos alrededor del síndrome y replantear la gran pregunta
                        que Hamlet formula frente a la existencia. ¿Ser o no ser? ¿Qué implica ser para personas que no encuentran espacios donde se los tome en cuenta?<br/>Organizador: <a class="text-danger" style="cursor:pointer;">Teatro La Plaza</a></p>
                </div>
                <div class="col-3">
                    <div class="row">
                        <div class="col-3">
                            <i class="fa fa-minus-square text-danger fa-2x nav-item" aria-hidden="true" style="cursor:pointer;"></i>
                        </div>
                    </div>
                    <div class="row">
                        <a class="text-primary" style="cursor:pointer;" [routerLink]="['/evento']" routerLinkActive="router-link-active"><u><br/>Ver mas</u></a>
                    </div>
                </div>
            </div>
            <div class="row p-4">
                <div class="col-3 d-flex justify-content-end">
                    <img src="../../../../assets/img/hamletDescripcion.jpg" alt="Card image cap" class="img-thumbnail">
                </div>
                <div class="col-6">
                    <p>"Un grupo de actores con síndrome de Down intenta redefinir Hamlet a partir de sus propias vidas. La obra se está construyendo sobre la base de sus aportes y experiencias. El proyecto nace inspirado en Jaime Cruz, quien trabajó durante
                        tres años en el Teatro La Plaza vendiendo programas y acomodando a la gente mientras esperaba la oportunidad de ser convocado como actor. La propuesta busca romper mitos construidos alrededor del síndrome y replantear la gran pregunta
                        que Hamlet formula frente a la existencia. ¿Ser o no ser? ¿Qué implica ser para personas que no encuentran espacios donde se los tome en cuenta?<br/>Organizador: <a class="text-danger" style="cursor:pointer;">Teatro La Plaza</a></p>
                </div>
                <div class="col-3">
                    <div class="row">
                        <div class="col-3">
                            <i class="fa fa-minus-square text-danger fa-2x nav-item" aria-hidden="true" style="cursor:pointer;"></i>
                        </div>
                    </div>
                    <div class="row">
                        <a class="text-primary" style="cursor:pointer;" [routerLink]="['/evento']" routerLinkActive="router-link-active"><u><br/>Ver mas</u></a>
                    </div>
                </div>
            </div>
        </div>
    </div>