/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
body {
    font-family: ProximaNova, -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background-color: #121212;
    color: white !important;
}

a {
    color: unset;
    text-decoration: none;
}

.section-content {
    width: 1270px;
    max-width: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.section {
    margin-bottom: 15px;
}

.heading {
    padding: 13px 15px;
    background-color: #181818;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading_title {
    margin: 0;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.heading_title h1,
.heading_title h2 {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    line-height: inherit;
}

.heading_link {
    font-size: 11px;
    text-transform: uppercase;
    line-height: 1;
}

.heading_link a {
    display: flex;
    color: #656565;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    align-items: center;
    justify-content: flex-end;
}

.heading_link a span {
    font-size: 10px;
    margin-left: 4px;
}

.carousel {
    margin-bottom: 30px;
}

.event {
    margin-top: 25px;
    width: 13rem;
}

.scroll {
    padding-left: 0;
    display: flex;
}

.scroll_content {
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    align-content: flex-start;
    width: 100%;
}

.thumbnail:hover {
    opacity: 0.5;
}

[class*=" icon-"],
[class^=icon-] {
    font-family: fanicons!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}